.productContainer {
  width: 300px;
  height: 346px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 7fr;
  grid-template-areas:
    "i i"
    "t .";
  text-align: center;
  margin: 5px;
  border: 2px solid var(--grey-20);
  border-radius: 8px;
}
.productContainer:focus {
  scale: 1.1;
  border: black;
}
img {
  height: 150px;
  max-width: 150px;
}
.product__img {
  grid-area: i;
  background-color: var(--grey-0);
  width: 100%;
}
.product__info {
  grid-area: t;
  justify-items: center;
  text-align: left;
  margin-left: 20px;
  font-family: var(--font);
}
h3.product__info {
  font: var(--heading3);
  font-family: var(--font);
  font-weight: 700;
  margin-left: 0;
}
p.product__info {
  font-size: 12px;
  font-family: var(--font);
  font-weight: 400;
  color: var(--grey-50);
  margin-left: 0;
}

.product_price {
  color: var(--color-primary);
  font: var(--body-600);
  font-family: var(--font);
  font-weight: 600;
}
