.productContainer {
  width: 300px;
  height: 346px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 7fr;
  grid-template-areas:
    "i i"
    "t .";
  text-align: center;
  margin: 10px;
  border: 2px solid var(--grey-20);
  border-radius: 8px;
}
.productContainer:focus {
  scale: 1.1;
  border: black;
}
img {
  height: 150px;
  max-width: 150px;
}
.product__img {
  grid-area: i;
  background-color: var(--grey-0);
  width: 100%;
}
.product__info {
  grid-area: t;
  justify-items: center;
  text-align: left;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
}
.product__info h3 {
  font-size: var(--heading3);
}
.product_price {
  color: var(--color-primary);
  font: var(--body-600);
}
.product_caption {
  font: var(--caption);
}
