:root {
  --color-primary: #27ae60;
  --color-primary-50: #93d7af;
  --color-secondary: #eb5757;

  --grey-100: #333333;
  --grey-50: #828282;
  --grey-20: #e0e0e0;
  --grey-0: #f5f5f5;

  --negative: #e60000;
  --warning: #ffcd07;
  --sucess: #168821;
  --information: #155bcb;

  --font: "Inter", sans-serif;
  --heading1: 26px bold;
  --heading2: 22px bold;
  --heading3: 18px bold;
  --headline: 16px;
  --body: 14px;
  --body-600: 14px bold;
  --caption: 12px;
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.btn {
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-size: var(--headline);
  padding: 11.5px 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--color-primary-50);
}
input:focus {
  outline: none;
}
