:root {
  --color-primary: #27ae60;
  --color-primary-50: #93d7af;
  --color-secondary: #eb5757;

  --grey-100: #333333;
  --grey-50: #828282;
  --grey-20: #e0e0e0;
  --grey-0: #f5f5f5;

  --negative: #e60000;
  --warning: #ffcd07;
  --sucess: #168821;
  --information: #155bcb;

  --heading1: bold 26px;
  --heading2: bold 22px;
  --heading3: bold 18px;
  --headline: 16px;
  --body: 14px;
  --body-600: bold 14px;
  --caption: 12px;
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-size: var(--headline);
  padding: 10px 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color-primary-50);
}
